<% if(users.length > 0) { %>
<div class="row mt-5">
   <% for(const user of users) { %>
   <div class="col-6 col-md-4 col-lg-3">

      <div class="card" style="width: 18rem;">
         <img src="https://picsum.photos/300/200" class="card-img-top">
         <div class="card-body">
           <h5 class="card-title"><%= user.username %></h5>
           <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur perspiciatis reiciendis natus necessitatibus, sed totam, atque, error quos ut quam suscipit nesciunt tempora aut maxime ratione commodi quia tempore.</p>
         </div>
       </div>
   </div>
   <% } %>
</div>
<% } else { %>
<div class="mt-5">
   <p class="text-danger">No Users found!</p>
</div>
<% } %>